<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.root.mybatis.join.JoinMapper">
	<resultMap type="com.project.root.join.dto.JoinDTO" id="join">
		<id property="id" column="id"/>
		<result property="write_no" column="write_no"/>
		<result property="title" column="title"/>
		<result property="content" column="content"/>
		<result property="image" column="image"/>
		<result property="loc_name" column="loc_name"/>
		<result property="loc_sep_name" column="loc_sep_name"/>
		<result property="max_count" column="max_count"/>
		<result property="cur_count" column="cur_count"/>
	</resultMap>
	
	<resultMap type="com.project.root.join.dto.JoinRepDTO" id="reply">
		<id property="write_no" column="write_no"/>
		<result property="id" column="id"/>
		<result property="title" column="title"/>
		<result property="content" column="content"/>
		<result property="tel" column="tel"/>
		<result property="write_group" column="write_group"/>
		<result property="write_date" column="write_date"/>
		
	</resultMap>
	
	<insert id="joinSave">
		insert into Join values(join_seq.nextval,#{id}, #{title}, #{content}, #{image},#{loc_name}, #{loc_sep_name}, #{max_count}, #{cur_count})	
	</insert>
	
	<select id="myJoinView" resultMap="join">
		select * from join where id= #{id} order by write_no desc
	</select>
	
	<select id="myJoinViewDetail" resultMap="join">
		select * from join where write_no= #{write_no}
	</select>
	
	<select id="joinAllListNum" resultMap="join">
      select B.* from
      (select rownum rn, A. * from   
      (select * from join order by write_no desc) A) B <!-- date추가해야할지 생각해봐야함 -->
      where rn between #{s} and #{e}
   </select>
   
   <select id="selectJoinCount" resultType="Integer">
      select count(*) from join
   </select>
	<select id="JoinAllList" resultMap="join">
		select * from join order by write_no desc
	</select> 
	 
	<update id="modify">
		update join set title=#{title},
		content=#{content},
		image=#{image}
		where write_no=#{write_no}
	</update>
	
	<select id="joinView" resultMap="join">
		select * from join where title=#{title}
	</select>
	
	<delete id="delete">
		delete join where write_no =#{write_no}
	</delete>
	
	<insert id="addReply">
		insert into reply (write_no, id, title, content, write_group, tel)
		values(reply_seq.nextval, #{id}, #{title}, #{content}, #{write_group}, #{tel})
	</insert>
	
	<delete id="deleteReply">
		delete reply where write_no=#{write_no}
	</delete>
	
	<select id="getRepList" resultMap="reply">
		select * from reply where write_group = #{write_group}
		order by write_date desc
	</select>
	
</mapper> 
   