@charset "UTF-8";

*{
	
}

body{
	height:100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.04);
	
}
.main{
	font-family: 'Hahmlet', serif;
}

#memberList {
	margin: 50px; 
	width: 1000px;
	height: 500px;
    border-spacing: 0;
    border-collapse: collapse; 
    text-align: center;
}
#head{
	height: 100px;
}

#memberList th{
	border-top: 1px solid black;
	font-size: 28px;
	background-color: #B1C6CF;
	color: white;
}

#memberList td {
	border-top: 1px solid black;
	font-size: 20px;
	padding: 0 5px;
}
