@charset "UTF-8";

.main {
	background-color: #E7E7E7;
	align: center;
	width:100%;
	height:100%;
}

.Table{
	
   margin:0 auto;
   font-size: 20px;
   
} 


.title1 {
	background-color: #002B22;
	color: white;
}


tr {
	/* border-top: 1px solid black; */
}

#content_row:hover {
	background-color:#96A9B0;
}

#content_row:hover > a{
	cursor: pointer;
}

td {
	padding: 5px;
	font-size: 18px;
	text-align: center;
	
}
#content_td{
	/*border: 1px solid black;*/
}

a {
	text-decoration: none;
}

a:link {
	color: black;
}

a:visited {
	color: #000069;
}

b {
	text-align: center;
}


.custom-btn {
	width: 130px;
	height: 40px;
	padding: 10px 25px;
	border: 2px solid #000;
	font-family: 'Lato', sans-serif;
	font-weight: 500;
	background: transparent;
	cursor: pointer;
	transition: all 0.3s ease;
	position: relative;
	display: inline-block;
}

button {
   /* margin: 0;
   padding: 0; */
   position: relative;
    border: none;
    display: inline-block;
    padding: 8px 18px;
    border-radius: 15px;
    font-family: "paybooc-Light", sans-serif;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-weight: 600;
    transition: 0.25s;
   box-sizing: border-box;
   margin: 20px;
   background-color: #323232;
    color: white;
    font-family: 'Hahmlet', serif;
    
   }
button:hover {
	letter-spacing: 2px;
    transform: scale(1.2);
    cursor: pointer;
	background-color: #323232;
    color: white;
	}

